@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* VARIABLES */
:root {
  --BTN-PRIMARY-COLOR: rgb(255 216 20);
  --BTN-SECONDARY-COLOR: rgb(246, 208, 20);
  --FONT-FAMILY: Inter, sans-serif;
  --NAV-BAR-BG-COLOR: #131921;
  --SELECT-COLOR: rgb(240 240 240);
}
/* GENERAL STYLES */
body {
  font-family: var(--FONT-FAMILY);
}
img {
  display: block;
}
button {
  cursor: pointer;
}
button,
input {
  font: inherit;
}
