.main {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}
.card-container {
  padding: 5px;
  width: min-content;
  border-radius: 5px;
  border: 1px solid rgb(213, 217, 217);
}
.card-container:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.41);
  background-color: aliceblue;
}
.card {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 1rem;
  width: fit-content;
  background-color: white;
  border-radius: 5px;
}
.card__product-img-container,
.product-img {
  height: 150px;
  aspect-ratio: auto;
}

.card__product-title {
  font-size: 16px;
  height: 40px;
  font-weight: 500;
  width: 100%;
}
.limit-text-to-1-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__product-ratings-container,
.product-ratings-stars {
  width: 80px;
  aspect-ratio: auto;
}
.card__product-ratings-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.product-ratings-count {
  font-size: 14px;
  vertical-align: bottom;
  flex-grow: 0;
}
.card__product-price {
  width: 100%;
  font-weight: 600;
}
.card__productQty-button {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.productQty {
  padding: 6px;
  border-radius: 5px;
  background-color: var(--SELECT-COLOR);
  align-self: flex-start;
  cursor: pointer;
  border: 1px solid rgb(213, 217, 217);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.129);
}
.addToCart-button {
  padding: 6px;
  background-color: var(--BTN-PRIMARY-COLOR);
  flex-grow: 0;
  border-radius: 50px;
  border: none;
  width: 100%;
  font-size: 14px;
}
.addToCart-button:hover {
  background-color: var(--BTN-SECONDARY-COLOR);
}
